# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/

# Packaging
build/
dist/
*.egg-info/

# Test/coverage
.pytest_cache/
.mypy_cache/
.ruff_cache/
.tox/
.coverage
.coverage.*
htmlcov/

# Editor/OS
.vscode/
.idea/
.DS_Store

# App data
pdfs-a-unir/
*.pdf
